@{
    ViewData["Title"] = "Agregar Cliente";
}

@model ClientDataContainer

<h1>@ViewData["Title"]</h1>

@*FORM TO GET THE USER INPUT TO ADD TO THE DATABASE*@
<form asp-action="addClient" asp-controller="Clients" method="post">
    <div class="mb-3">
        <label for="client-code" class="form-label">Código:</label>
        <input type="text" class="form-control" id="codigo" name="codigo">
    </div>
    <div class="mb-3">
        <label for="client-account-name" class="form-label">Nombre de la cuenta:</label>
        <input type="text" class="form-control" id="nombreCuenta" name="nombreCuenta">
    </div>
    <div class="mb-3">
        <label for="client-email" class="form-label">Correo del cliente:</label>
        <input type="text" class="form-control" id="correo" name="correo">
    </div>
    <div class="mb-3">
        <label for="client-phone-number" class="form-label">Número de telefono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono">
    </div>
    <div class="mb-3">
        <label for="client-cellphone-number" class="form-label">Número de celular:</label>
        <input type="text" class="form-control" id="celular" name="celular">
    </div>
    <div class="mb-3">
        <label for="client-website" class="form-label">Sitio web:</label>
        <input type="text" class="form-control" id="sitioWeb" name="sitioWeb">
    </div>
    <div class="mb-3">
        <label for="client-currency" class="form-label">Moneda a utilizar:</label>
        <select class="form-select" id="abreviatura_moneda" name="abreviatura_moneda">
            @foreach (var item in Model.currencies)
            {
                <option value="@item.abreviatura">@item.abreviatura</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="client-zone" class="form-label">Zona:</label>
        <select class="form-select" id="zona" name="zona">
            @foreach (var item in Model.zones)
            {
                <option value="@item.nombre">@item.nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="client-sector" class="form-label">Sector:</label>
        <select class="form-select" id="sector" name="sector">
            @foreach (var item in Model.sectors)
            {
                <option value="@item.nombre">@item.nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="client-adviser" class="form-label">Usuario:</label>
        <select class="form-select" id="login_usuario" name="login_usuario">
            @foreach (var item in Model.user_logins)
            {
                <option value="@item.userLogin">@item.userLogin</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="client-additional-info" class="form-label">Informacion adicional:</label>
        <textarea class="form-control" id="informacionAdicional" rows="3" name="informacionAdicional"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>