@using System.Linq;
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.XLabels);
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.YValues);

    ViewData["Title"] = "Pie Chart";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pie</title>
</head>
<body>
    @*FORM TO SELECT THE TYPE OF REPORT YPU WANT TO VIEW*@
    <form asp-action="CircularPercentageGraphReport" asp-controller="Reports" method="post">
        <div class="mb-3">
            <label for="report-type" class="form-label">Selecione el reporte a visualizar:</label>
            <div class="input-group w-50">
                <select class="form-select auto-wdth" id="ReportType" name="ReportType">
                    <option value="vpd">Ventas por departamento</option>
                    <option value="cpt">Casos por tipo</option>
                </select>
                @*<button type="submit" class="btn btn-outline-info" onclick="location.href='@Url.Action("CircularPercentageGraphReport", "Reports")?ReportType=' + document.getElementById('ReportType').value">Buscar</button>*@
            </div>
        </div>

        @*FORM TO SELECT THE DATE RANGE*@
        <div class="mb-3">
            <label for="date-filter" class="form-label">Rango de fechas a filtrar:</label>
            <div class="w-50">
                <div class="input-group mb-3">
                    <label for="date-filter-from" class="form-label mr-2">Desde:</label>
                    <select class="form-select auto-wdth mr-4" id="From" name="From">
                        @foreach (var item in Model.Dates)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label for="date-filter-to" class="form-label mr-2">Hasta:</label>
                    <select class="form-select auto-wdth" id="To" name="To">
                        @foreach (var item in Model.Dates)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-info">Buscar</button>

    </form>

    <br />

    @*THE CHART FOR THE REPORTS*@
    @if (Model.Show)
    {
        <div class="box-body">

            <div class="chart-container">
                <canvas id="chart" style="width:100%; height:500px"></canvas>
            </div>
        </div>
    }
</body>
</html>

<script type="text/javascript">
    $(function () {
        var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                label: "Drinks Chart",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 0, 0)',
                    'rgba(0, 255, 0)',
                    'rgba(0, 0, 255)',
                    'rgba(192, 192, 192)',
                    'rgba(255, 255, 0)',
                    'rgba(255, 0, 255)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 0, 0)',
                    'rgba(0, 255, 0)',
                    'rgba(0, 0, 255)',
                    'rgba(192, 192, 192)',
                    'rgba(255, 255, 0)',
                    'rgba(255, 0, 255)'
                ],
                borderWidth: 1,
                data: @Html.Raw(YValues)
        }]
        };

        var options = {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,99,164,0.2)"
                    }
                }],
                xAxes: [{
                    ticks: {
                        min: 0,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false
                    }
                }]
            }
        };

        var myChart = new Chart(ctx, {
            options: options,
            data: data,
            type: 'pie'

        });
    });
</script>