@{
    ViewData["Title"] = "Tareas";
}

<h1>@ViewData["Title"]</h1>

<br />

@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>@item.Codigo</td>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.FechaInicio</td>
                    <td>@item.FechaFinalizacion</td>
                    <td>@item.Estado</td>
                    <td>@item.Asesor</td>
                </tr>
            }
        </tbody>
    </table>
</div>