
<h1>@ViewData["Title"]</h1>

@*FORM TO GET THE USER INPUT TO ADD TO THE DATABASE*@
<form asp-action="addContact" asp-controller="Contact" method="post">
    @*<div class="mb-3">
        <label for="contact-code" class="form-label">Codigo del cliente:</label>
        <input type="text" class="form-control" id="contact-code" name="contact-code">
    </div>*@
    <div class="mb-3">
        <label for="contact-client-code" class="form-label">Codigo del cliente:</label>
        <select class="form-select" id="CodigoCliente" name="CodigoCliente">
            <option selected> </option>
            @foreach (var item in Model.Clients)
            {
                <option value="@item.codigo">@item.nombreCuenta</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-type" class="form-label">Tipo:</label>
        <select class="form-select" id="Tipo" name="Tipo">
            <option selected> </option>
            @foreach (var item in Model.Types)
            {
                <option value="@item.Nombre">@item.Nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-reason" class="form-label">Motivo:</label>
        <input type="text" class="form-control" id="Motivo" name="Motivo">
    </div>
    <div class="mb-3">
        <label for="contact-name" class="form-label">Nombre del contacto:</label>
        <input type="text" class="form-control" id="NombreContacto" name="NombreContacto">
    </div>
    <div class="mb-3">
        <label for="contact-email" class="form-label">Correo:</label>
        <input type="text" class="form-control" id="Correo" name="Correo">
    </div>
    <div class="mb-3">
        <label for="contact-phone-number" class="form-label">Número de telefono:</label>
        <input type="text" class="form-control" id="Telefono" name="Telefono">
    </div>
    <div class="mb-3">
        <label for="contact-status" class="form-label">Estado:</label>
        <select class="form-select" id="Estado" name="Estado">
            <option selected> </option>
            @foreach (var item in Model.Status)
            {
                <option value="@item.Nombre">@item.Nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-address" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="Direccion" name="Direccion">
    </div>
    <div class="mb-3">
        <label for="contact-zone" class="form-label">Zona:</label>
        <select class="form-select" id="Zona" name="Zona">
            <option selected> </option>
            @foreach (var item in Model.Zones)
            {
                <option value="@item.nombre">@item.nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-sector" class="form-label">Sector:</label>
        <select class="form-select" id="Sector" name="Sector">
            <option selected> </option>
            @foreach (var item in Model.Sectors)
            {
                <option value="@item.nombre">@item.nombre</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-adviser" class="form-label">Asesor:</label>
        <select class="form-select" id="Asesor" name="Asesor">
            <option selected> </option>
            @foreach (var item in Model.Users)
            {
                <option value="@item.userLogin">@item.nombreCompleto</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="contact-desc" class="form-label">Descripción:</label>
        <textarea class="form-control" id="Descripcion" rows="3" name="Descripcion"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>