<h1>@ViewData["Title"]</h1>

<br/>

@*FORM TO SELECT THE CLIENT YOU WANT TO DISPLAY THE CONTACTS FROM*@
<form>
    <div class="mb-3">
        <label for="contact-client-code" class="form-label">Codigo del cliente:</label>
        <select class="form-select auto-wdth" id="contact-client-code" name="contact-client-code">
            <option selected> </option>
            <option value="Cliente1">Cleinte A</option>
            <option value="Cliente2">Cliente B</option>
        </select>
    </div>
</form>

@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @*@foreach (var item in Model.listVal)
            {
                <tr>
                    <td>@item.code</td>
                    <td>@item.name</td>
                    <td>@item.reason</td>
                    <td>@item.email</td>
                    <td>@item.phone</td>
                    <td>@item.address</td>
                    <td>@item.descripcion</td>
                    <td>@item.sector</td>
                    <td>@item.status</td>
                    <td>@item.zone</td>
                    <td>@item.type</td>*@

                    @*ADD BUTTONS TO ADD OR SHOW TASKS*@
                    @*<td>
                        <a class="btn btn-outline-info" href="/Show/ShowTasks?code=@item.codigo">Mostrar</a>
                        <a class="btn btn-outline-success" href="/Add/AddTasks?code=@item.codigo">Agregar</a>
                    </td>*@

                    @*ADD BUTTONS TO ADD OR SHOW ACTIVITIES*@
                    @*<td>
                        <a class="btn btn-outline-info" href="/Show/Activities?code=@item.codigo">Mostrar</a>
                        <a class="btn btn-outline-success" href="/Add/AddActivities?code=@item.codigo">Agregar</a>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>