@{
    ViewData["Title"] = "Productos disponibles";

    //CreatedAtActionResult a list of the table headers
    string[] tableHeaders = new string[] {
    "Codigo"
    ,"Nombre"
    ,"Activo"
    ,"Descripcion"
    ,"Precio"
    ,"Codigo Familia"
    ,"Acción"
    };
}

<h1>@ViewData["Title"]</h1>

<br/>

@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @foreach (var header in tableHeaders)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Codigo</td>
                    <td>@item.Nombre</td>
                    <td>@item.Activo</td>
                    <td>@item.Descripcion</td>
                    <td>@item.PrecioEstandar</td>
                    <td>@item.CodigoFamilia</td>

                    @*ADD A BUTTON TO DELETE THAT APP FROM THE BD*@
                    <td>
                        <a class="btn btn-outline-danger" href="/Edit/EditProduct?code=@item.Codigo">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>