@{
    ViewData["Title"] = "ReporteXXXX";
}

<h1>@ViewData["Title"]</h1>


@*TABLE TO SHOW THE INFORMATION FROM THE SQL TABLE*@
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Codigo Familia</th>
            </tr>
        </thead>

        <tbody>
            @*CREATE THE TABLES ROWS AND ASSIGN THEM THE INFORMATION FROM THE DB*@
            @foreach (var item in Model.listVal)
            {
                <tr>
                    <td>@item.code</td>
                    <td>@item.name</td>
                    <td>@item.active</td>
                    <td>@item.descripcion</td>
                    <td>@item.price</td>
                    <td>@item.family</td>
                </tr>
            }
        </tbody>
    </table>
</div>